Flask
gunicorn
pymongo
pandas
requests
datetime
schedule
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
